body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: rgb(71, 71, 71);
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background: #575757;
    border-radius: 5px;
}

.hero {
    background: #3e3e3e;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    margin: 0;
    font-size: 3em;
}

.section {
    padding: 50px 0;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.footer {
    background: rgb(10, 10, 10);
    color: rgb(85, 82, 82);
    text-align: center;
    padding: 10px 0;
}

.footer p {
    margin: 0;
}
